
@font-face
{
	font-family: 'GeosansLight';
	src: url('/fonts/GeosansLight.ttf');
}

body
{
	height: 100vh;
	overflow-x: hidden;
	background-color:#DDD;
	opacity:20%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



.profile-picture
{
	margin: 0 auto;
	min-width: 479px;
	max-width: 30%;
	max-height: 30%;
}

@media screen and (max-width: 479px)
{
	.profile-picture
	{
		margin: 0 auto;
		min-width: 200px;
		max-width: 90%;
		max-height: 30%;
	}
}

.icon
{
	display:inline-block;
	/*margin:5px 15px;*/
	padding:5px;
}

.icon:hover, .icon:active
{
	opacity: 0.6;
}

.smiley
{
	bottom:-30px;
	width: 31px;
	height: 31px;
}

#contact > a:link
{
	/*color: #FF00DD;*/
	color: #2200cc !important;
	text-decoration:none;
}

/* visited link */
#contact > a:visited
{
	color: #2200cc !important;
	text-decoration:none;
}


.hr-small
{
	width: 20% !important;
}

.hr-large
{
	width: 50% !important;
}

.color-black
{
	color: black !important;
	border-color: black !important;
	/*background-color: black !important;*/
}

/*h1
{
	font-size: 2em !important;
}

p
{
	font-size: 2em !important;
}*/
.navbar ul > li > a
{
	font-size: 24px !important;
}
.navbar-brand
{
	font-size: 30px !important;
}

h1{ font-size: 5em !important;}
h2{ font-size: 4em !important;}
h3{ font-size: 2em !important;}
h4{ font-size: 1.5em !important;}
h5{ font-size: 1em !important;}
p{ font-size: 1.7em !important;}
*
{
 	font-family: 'GeosansLight', Helvetica, Arial, sans-serif;
	/*font-size: 24px !important;*/
}
